HOST="<romm host>"
USERNAME="<romm user>"
PASSWORD="<romm password>"
DEFAULT_SD_CARD=1

# Can be one of genre, franchise, collection, mode or company
COLLECTION_TYPE=collection

# Do not display platforms with these names
# EXCLUDE_PLATFORMS=[]

# Only display collections with these names
# INCLUDE_COLLECTIONS=[]

# Do not display collections with these names
# EXCLUDE_COLLECTIONS=[]
